 .u-section-1 {
  background-image: url("images/a111171370bfddab7033cf4abe6583f776c778deafde858ff84008cea4111caa9304db32681ba7e189ac8abc4d0ab1dce321b18b38979533ca3fde_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 982px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 44px 0 0 655px;
}

.u-section-1 .u-text-2 {
  font-size: 3.125rem;
  font-weight: 700;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 262px 423px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 455px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 223px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 235px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 3px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 55px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }
} .u-section-2 {
  background-image: none;
  min-height: 707px;
}

.u-section-2 .u-shape-1 {
  height: 299px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: -110px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 12px) calc(25% - 12px) calc(25% - 12px) calc(25% - 12px);
  min-height: 329px;
  grid-gap: 16px 16px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-1 {
  height: 78px;
  width: 78px;
  color: rgb(255, 255, 255) !important;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 47px auto 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 47px auto 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 47px auto 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-4 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(77, 77, 77) !important;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
}

.u-section-2 .u-text-8 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 47px auto 0;
}

.u-section-2 .u-text-9 {
  margin: -442px auto 376px calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 12px));
    min-height: 386px;
  }

  .u-section-2 .u-text-9 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 8px));
    min-height: 702px;
  }

  .u-section-2 .u-text-9 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 725px;
  }

  .u-section-2 .u-text-9 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-9 {
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 442px;
}

.u-section-3 .u-layout-wrap-1 {
  background-image: none;
  width: 463px;
  margin: 164px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 114px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  font-size: 3rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 29px;
    padding-bottom: 29px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1054px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 60px 595px 0 0;
}

.u-section-4 .u-text-2 {
  background-image: none;
  margin: 50px 60px 0 0;
}

.u-section-4 .u-image-1 {
  width: 231px;
  height: 168px;
  margin: 0 40px 0 auto;
}

.u-section-4 .u-text-3 {
  margin: -148px 345px 0 0;
}

.u-block-bff6-51 {
  color: rgb(50, 190, 166) !important;
}

.u-block-bff6-52 {
  color: rgb(50, 190, 166) !important;
}

.u-section-4 .u-image-2 {
  width: 822px;
  height: 427px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 50px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 395px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    margin-right: 60px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 145px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1001px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 175px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    width: 720px;
    height: 374px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 908px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 281px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-4 .u-image-1 {
    margin-right: 41px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 177px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1932px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 58px 10px 0;
}

.u-section-5 .u-group-1 {
  width: 1120px;
  min-height: 1689px;
  margin: 30px auto 60px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 30px 740px 0 30px;
}

.u-section-5 .u-image-1 {
  width: 296px;
  height: 177px;
  margin: 16px 30px 0 auto;
}

.u-section-5 .u-text-3 {
  margin: -161px 336px 0 30px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-text-4 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 11px 100px 0 859px;
}

.u-section-5 .u-image-2 {
  width: 558px;
  height: 590px;
  margin: 23px auto 0;
}

.u-section-5 .u-text-5 {
  font-size: 0.875rem;
  font-style: italic;
  width: 127px;
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  margin: 59px 30px 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.875rem;
  font-style: italic;
  margin: 45px 30px 0;
}

.u-section-5 .u-group-2 {
  width: 325px;
  min-height: 84px;
  height: auto;
  margin: 38px auto 0 229px;
}

.u-section-5 .u-container-layout-2 {
  padding-right: 15px;
  padding-left: 30px;
}

.u-section-5 .u-text-8 {
  margin: 5px 20px 0 0;
}

.u-section-5 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -84px 169px 0 643px;
}

.u-section-5 .u-shape-1 {
  width: 49px;
  height: 47px;
  margin: -61px 121px 0 auto;
}

.u-section-5 .u-image-3 {
  width: 418px;
  height: 314px;
  margin: 96px auto 0 51px;
}

.u-section-5 .u-image-4 {
  width: 470px;
  height: 131px;
  margin: -234px 30px 0 auto;
}

.u-section-5 .u-shape-2 {
  width: 117px;
  height: 71px;
  margin: -89px auto 0 489px;
}

.u-section-5 .u-text-10 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 138px 0 724px;
}

.u-section-5 .u-text-11 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 80px 768px 0 172px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-group-1 {
    width: 940px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 30px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 186px;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 10px;
    margin-left: 769px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-group-2 {
    height: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 79px;
    margin-left: 553px;
    width: 304px;
  }

  .u-section-5 .u-image-3 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-image-4 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-shape-2 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-text-10 {
    margin-right: 48px;
    margin-left: 634px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-text-11 {
    margin-right: 678px;
    margin-left: 82px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 720px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 559px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 0;
    margin-left: 412px;
  }

  .u-section-5 .u-text-10 {
    margin-right: 0;
    margin-left: 462px;
  }

  .u-section-5 .u-text-11 {
    margin-right: 540px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 379px;
  }

  .u-section-5 .u-image-2 {
    width: 540px;
    height: 571px;
  }

  .u-section-5 .u-group-2 {
    margin-left: 215px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 232px;
  }

  .u-section-5 .u-shape-2 {
    margin-left: 423px;
  }

  .u-section-5 .u-text-10 {
    margin-left: 282px;
  }

  .u-section-5 .u-text-11 {
    margin-right: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-4 {
    margin-left: 179px;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 360px;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-group-2 {
    margin-top: 36px;
    margin-left: 15px;
  }

  .u-section-5 .u-text-9 {
    margin-top: -277px;
    margin-left: 32px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: -119px;
  }

  .u-section-5 .u-image-3 {
    width: 340px;
    height: 255px;
    margin-top: 346px;
    margin-left: 0;
  }

  .u-section-5 .u-image-4 {
    width: 340px;
    height: 95px;
    margin-top: -222px;
    margin-right: 0;
  }

  .u-section-5 .u-shape-2 {
    margin-top: -53px;
    margin-left: 223px;
  }

  .u-section-5 .u-text-10 {
    margin-left: 82px;
  }

  .u-section-5 .u-text-11 {
    margin-top: -173px;
    margin-right: 160px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 2900px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 58px 10px 0;
}

.u-section-6 .u-group-1 {
  width: 1120px;
  min-height: 2711px;
  margin: 29px auto 50px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 30px 577px 0 30px;
}

.u-section-6 .u-image-1 {
  width: 502px;
  height: 278px;
  margin: 59px auto 0 104px;
}

.u-section-6 .u-text-3 {
  font-style: italic;
  font-weight: normal;
  margin: -181px 251px 0 665px;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  margin: 10px 82px 0 665px;
}

.u-section-6 .u-text-5 {
  margin: 155px 50px 0;
}

.u-section-6 .u-text-6 {
  margin: 20px 50px 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-text-7 {
  font-size: 1.875rem;
  font-style: italic;
  margin: 41px 50px 0;
}

.u-section-6 .u-text-8 {
  margin: 41px 50px 0;
}

.u-section-6 .u-image-2 {
  width: 738px;
  height: 600px;
  margin: 10px auto 0;
}

.u-section-6 .u-text-9 {
  font-size: 0.875rem;
  font-style: italic;
  width: 105px;
  margin: 0 auto;
}

.u-section-6 .u-image-3 {
  width: 352px;
  height: 264px;
  margin: 70px auto 0 59px;
}

.u-section-6 .u-image-4 {
  width: 580px;
  height: 331px;
  margin: -297px 30px 0 auto;
}

.u-section-6 .u-shape-1 {
  width: 117px;
  height: 71px;
  margin: -201px auto 0 369px;
}

.u-section-6 .u-group-2 {
  width: 1016px;
  min-height: 735px;
  margin: 171px auto 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-6 .u-image-5 {
  width: 363px;
  height: 271px;
  margin: 20px 104px 0 auto;
}

.u-section-6 .u-image-6 {
  width: 331px;
  height: 247px;
  margin: -271px auto 0 92px;
}

.u-section-6 .u-text-11 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 10px 674px 0 249px;
}

.u-section-6 .u-text-12 {
  font-size: 0.875rem;
  font-style: italic;
  margin: -8px 227px 0 668px;
}

.u-section-6 .u-image-7 {
  width: 717px;
  height: 319px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-group-1 {
    width: 940px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 30px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 161px;
    margin-left: 575px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
    margin-left: 575px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    height: 599px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-6 .u-image-3 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-6 .u-image-4 {
    margin-top: -298px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-6 .u-shape-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-6 .u-group-2 {
    width: 940px;
  }

  .u-section-6 .u-text-11 {
    margin-right: 636px;
    margin-left: 211px;
  }

  .u-section-6 .u-text-12 {
    margin-right: 189px;
    margin-left: 630px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 720px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 51px;
    margin-left: 465px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 465px;
  }

  .u-section-6 .u-image-2 {
    width: 720px;
    height: 584px;
  }

  .u-section-6 .u-group-2 {
    width: 720px;
  }

  .u-section-6 .u-text-11 {
    margin-right: 526px;
    margin-left: 101px;
  }

  .u-section-6 .u-text-12 {
    margin-right: 79px;
    margin-left: 520px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-image-1 {
    margin-left: 38px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 336px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 336px;
  }

  .u-section-6 .u-image-2 {
    width: 540px;
    height: 438px;
  }

  .u-section-6 .u-image-4 {
    width: 540px;
    height: 308px;
    margin-right: 0;
  }

  .u-section-6 .u-shape-1 {
    margin-top: -178px;
  }

  .u-section-6 .u-group-2 {
    width: 540px;
  }

  .u-section-6 .u-text-11 {
    margin-right: 436px;
    margin-left: 11px;
  }

  .u-section-6 .u-text-12 {
    margin-right: 0;
    margin-left: 419px;
  }

  .u-section-6 .u-image-7 {
    width: 540px;
    height: 240px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 188px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-top: -91px;
    margin-left: 136px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 136px;
  }

  .u-section-6 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 276px;
  }

  .u-section-6 .u-image-3 {
    width: 340px;
    height: 255px;
    margin-left: 0;
  }

  .u-section-6 .u-image-4 {
    width: 340px;
    height: 194px;
    margin-top: -289px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: -64px;
    margin-left: 223px;
  }

  .u-section-6 .u-group-2 {
    width: 340px;
  }

  .u-section-6 .u-image-5 {
    width: 340px;
    height: 254px;
    margin-right: 0;
  }

  .u-section-6 .u-image-6 {
    margin-top: -254px;
    margin-left: 9px;
  }

  .u-section-6 .u-text-11 {
    margin-right: 247px;
    margin-left: 0;
  }

  .u-section-6 .u-text-12 {
    margin-left: 219px;
  }

  .u-section-6 .u-image-7 {
    width: 340px;
    height: 151px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 442px;
}

.u-section-7 .u-layout-wrap-1 {
  background-image: none;
  width: 479px;
  margin: 164px auto 60px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 121px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  font-size: 3rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 29px;
    padding-bottom: 29px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 2423px;
}

.u-section-8 .u-line-1 {
  transform-origin: center top 0px;
  left: auto;
  top: 582px;
  position: absolute;
  height: 48px;
  right: 567px;
}

.u-section-8 .u-line-2 {
  transform-origin: center top 0px;
  left: auto;
  top: 582px;
  position: absolute;
  height: 48px;
  right: 567px;
}

.u-section-8 .u-line-3 {
  transform-origin: center top 0px;
  left: auto;
  top: 582px;
  position: absolute;
  height: 48px;
  right: 567px;
}

.u-section-8 .u-line-4 {
  transform-origin: center top 0px;
  left: auto;
  top: 582px;
  position: absolute;
  height: 48px;
  right: 567px;
}

.u-section-8 .u-line-5 {
  transform-origin: center top 0px;
  top: 1126px;
  position: absolute;
  height: 48px;
  left: auto;
  right: 567px;
}

.u-section-8 .u-line-6 {
  transform-origin: center top 0px;
  left: auto;
  top: 582px;
  position: absolute;
  height: 48px;
  right: 567px;
}

.u-section-8 .u-line-7 {
  transform-origin: center top 0px;
  left: auto;
  top: 582px;
  position: absolute;
  height: 48px;
  right: 567px;
}

.u-section-8 .u-line-8 {
  transform-origin: center top 0px;
  left: auto;
  top: 1844px;
  position: absolute;
  height: 48px;
  right: 567px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 54px;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 542px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-decoration: underline !important;
  --animation-custom_in-scale: 0.3;
  margin: 0 70px;
}

.u-section-8 .u-text-2 {
  font-size: 1rem;
  margin: 12px auto 0;
}

.u-section-8 .u-table-1 {
  width: 450px;
  margin: 33px auto 0;
}

.u-section-8 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-8 .u-image-1 {
  width: 499px;
  height: 119px;
  margin: 34px auto 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 542px;
}

.u-section-8 .u-container-layout-2 {
  padding: 0;
}

.u-section-8 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-decoration: underline !important;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-8 .u-text-4 {
  font-size: 1rem;
  margin: 12px auto 0;
}

.u-section-8 .u-table-2 {
  width: 225px;
  margin: 31px auto 0;
}

.u-section-8 .u-table-header-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-8 .u-image-2 {
  width: 247px;
  height: 122px;
  margin: 33px auto 0;
}

.u-section-8 .u-shape-1 {
  width: 570px;
  height: 80px;
  margin: -94px auto 0;
}

.u-section-8 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 54px auto 0;
}

.u-section-8 .u-text-6 {
  margin: 15px auto 0;
}

.u-section-8 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -89px auto 0 227px;
}

.u-section-8 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 315px;
  text-decoration: underline !important;
  margin: 70px auto 0;
}

.u-section-8 .u-text-8 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 15px auto 0;
}

.u-section-8 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -87px auto 0 227px;
}

.u-section-8 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 50px auto 0;
}

.u-section-8 .u-text-10 {
  margin: 1px 33px 0 849px;
}

.u-section-8 .u-text-11 {
  margin: -36px auto 0;
}

.u-section-8 .u-rotation-parent-1 {
  width: 64px;
  height: 64px;
  margin: -54px 173px 0 auto;
}

.u-section-8 .u-icon-3 {
  width: 64px;
  height: 64px;
}

.u-section-8 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: -120px auto 0 227px;
}

.u-section-8 .u-rotation-parent-2 {
  width: 570px;
  height: 80px;
  margin: 121px auto 0;
}

.u-section-8 .u-shape-2 {
  width: 570px;
  height: 80px;
}

.u-section-8 .u-image-3 {
  width: 432px;
  height: 475px;
  margin: 12px 69px 0 auto;
}

.u-section-8 .u-image-4 {
  width: 437px;
  height: 413px;
  margin: -444px auto 0 67px;
}

.u-section-8 .u-shape-3 {
  width: 570px;
  height: 80px;
  margin: 54px auto 0;
}

.u-section-8 .u-text-12 {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 48px auto 0;
}

.u-section-8 .u-text-13 {
  margin: 15px auto 0;
}

.u-section-8 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: -102px auto 0 227px;
}

.u-section-8 .u-text-14 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 717px;
  text-decoration: underline !important;
  margin: 68px auto 0;
}

.u-section-8 .u-text-15 {
  font-size: 1.25rem;
  width: 394px;
  margin: 15px auto 0;
}

.u-section-8 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: -85px auto 0 116px;
}

.u-section-8 .u-text-16 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 542px;
  text-decoration: underline !important;
  margin: 55px auto 0;
}

.u-section-8 .u-text-17 {
  margin: 15px auto 0;
}

.u-section-8 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: -104px auto 0 83px;
}

.u-section-8 .u-icon-8 {
  width: 64px;
  height: 64px;
  margin: -64px auto 60px 149px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2328px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 447px;
  }

  .u-section-8 .u-image-1 {
    width: 470px;
    height: 112px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 447px;
  }

  .u-section-8 .u-text-10 {
    margin-right: 0;
    margin-left: 682px;
  }

  .u-section-8 .u-rotation-parent-1 {
    margin-top: -132px;
  }

  .u-section-8 .u-icon-3 {
    margin: -132px 173px 0 auto;
  }

  .u-section-8 .u-rotation-parent-2 {
    margin-top: -1447px;
  }

  .u-section-8 .u-shape-2 {
    margin: -465px auto 60px 285px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1981px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-table-1 {
    width: 360px;
  }

  .u-section-8 .u-image-1 {
    width: 360px;
    height: 86px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-text-10 {
    margin-left: 462px;
  }

  .u-section-8 .u-shape-2 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2077px;
  }

  .u-section-8 .u-shape-1 {
    width: 540px;
  }

  .u-section-8 .u-icon-1 {
    margin-left: 170px;
  }

  .u-section-8 .u-icon-2 {
    margin-left: 170px;
  }

  .u-section-8 .u-text-10 {
    margin-left: 282px;
  }

  .u-section-8 .u-rotation-parent-1 {
    margin-top: -73px;
  }

  .u-section-8 .u-icon-3 {
    margin-top: -73px;
  }

  .u-section-8 .u-icon-4 {
    margin-left: 170px;
  }

  .u-section-8 .u-rotation-parent-2 {
    width: 540px;
    height: 76px;
    margin-top: -843px;
  }

  .u-section-8 .u-shape-2 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-8 .u-shape-3 {
    width: 540px;
  }

  .u-section-8 .u-icon-5 {
    margin-left: 170px;
  }

  .u-section-8 .u-text-14 {
    width: 540px;
  }

  .u-section-8 .u-text-16 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1825px;
  }

  .u-section-8 .u-table-1 {
    width: 340px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 81px;
  }

  .u-section-8 .u-shape-1 {
    width: 340px;
  }

  .u-section-8 .u-icon-1 {
    margin-left: 107px;
  }

  .u-section-8 .u-icon-2 {
    margin-left: 107px;
  }

  .u-section-8 .u-text-10 {
    margin-left: 82px;
  }

  .u-section-8 .u-icon-3 {
    margin-right: 109px;
  }

  .u-section-8 .u-icon-4 {
    margin-left: 107px;
  }

  .u-section-8 .u-rotation-parent-2 {
    width: 340px;
    height: 48px;
    margin-top: -795px;
  }

  .u-section-8 .u-shape-2 {
    width: 340px;
    margin-top: -373px;
  }

  .u-section-8 .u-image-3 {
    width: 340px;
    height: 374px;
    margin-right: 0;
  }

  .u-section-8 .u-image-4 {
    width: 340px;
    height: 321px;
    margin-top: -343px;
    margin-left: 0;
  }

  .u-section-8 .u-shape-3 {
    width: 340px;
  }

  .u-section-8 .u-icon-5 {
    margin-left: 107px;
  }

  .u-section-8 .u-text-14 {
    width: 340px;
  }

  .u-section-8 .u-text-15 {
    width: 340px;
  }

  .u-section-8 .u-icon-6 {
    margin-left: 73px;
  }

  .u-section-8 .u-text-16 {
    width: 340px;
  }

  .u-section-8 .u-icon-8 {
    margin-left: 94px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 442px;
}

.u-section-9 .u-layout-wrap-1 {
  background-image: none;
  width: 287px;
  margin: 164px auto 60px 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 121px;
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  font-size: 3rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 0;
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 421px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-container-layout-1 {
    padding-top: 29px;
    padding-bottom: 29px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 2047px;
}

.u-section-10 .u-line-1 {
  left: auto;
  top: 41px;
  transform-origin: center bottom 0px;
  position: absolute;
  height: 134px;
  right: 567px;
}

.u-section-10 .u-line-2 {
  left: auto;
  top: 253px;
  transform-origin: center top 0px;
  position: absolute;
  height: 520px;
  right: 567px;
}

.u-section-10 .u-line-3 {
  left: auto;
  top: 253px;
  transform-origin: center top 0px;
  position: absolute;
  height: 520px;
  right: 567px;
}

.u-section-10 .u-line-4 {
  left: auto;
  top: 865px;
  transform-origin: center top 0px;
  position: absolute;
  height: 447px;
  right: 567px;
}

.u-section-10 .u-line-5 {
  left: auto;
  top: 1406px;
  transform-origin: center top 0px;
  position: absolute;
  height: 543px;
  right: 567px;
}

.u-section-10 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-decoration: underline !important;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 98px auto 0 76px;
}

.u-section-10 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-decoration: underline !important;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -57px 112px 0 auto;
}

.u-section-10 .u-text-3 {
  font-weight: 700;
  margin: 45px auto 0;
}

.u-section-10 .u-image-1 {
  width: 394px;
  height: 490px;
  margin: 43px auto 0 634px;
}

.u-section-10 .u-image-2 {
  width: 394px;
  height: 490px;
  margin: -489px auto 0 112px;
}

.u-section-10 .u-text-4 {
  font-weight: 700;
  margin: 45px auto 0;
}

.u-section-10 .u-image-3 {
  width: 478px;
  height: 390px;
  margin: 24px auto 0 64px;
}

.u-section-10 .u-image-4 {
  width: 478px;
  height: 390px;
  margin: -390px auto 0 598px;
}

.u-section-10 .u-text-5 {
  font-size: 1.5rem;
  margin: 11px auto 0 181px;
}

.u-section-10 .u-text-6 {
  font-size: 1.5rem;
  margin: -38px 187px 0 auto;
}

.u-section-10 .u-text-7 {
  font-weight: 700;
  margin: 48px auto 0;
}

.u-section-10 .u-image-5 {
  width: 493px;
  height: 389px;
  margin: 24px auto 0 57px;
}

.u-section-10 .u-image-6 {
  width: 493px;
  height: 389px;
  margin: -389px 63px 0 auto;
}

.u-section-10 .u-text-8 {
  font-size: 1.5rem;
  margin: 20px auto 0 149px;
}

.u-section-10 .u-text-9 {
  font-size: 1.5rem;
  margin: -38px 140px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-3 {
    margin-top: 322px;
  }

  .u-section-10 .u-image-1 {
    margin-top: -456px;
    margin-left: 546px;
  }

  .u-section-10 .u-image-2 {
    margin-top: -227px;
  }

  .u-section-10 .u-text-4 {
    margin-top: -145px;
  }

  .u-section-10 .u-image-3 {
    margin-left: 32px;
  }

  .u-section-10 .u-image-4 {
    margin-left: 430px;
  }

  .u-section-10 .u-text-7 {
    margin-top: 508px;
  }

  .u-section-10 .u-image-5 {
    margin-top: -447px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-image-1 {
    margin-left: 326px;
  }

  .u-section-10 .u-image-4 {
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-image-1 {
    margin-left: 146px;
  }

  .u-section-10 .u-image-3 {
    margin-left: auto;
  }

  .u-section-10 .u-image-4 {
    margin-left: auto;
  }

  .u-section-10 .u-text-5 {
    margin-left: 136px;
  }

  .u-section-10 .u-text-6 {
    margin-right: 140px;
  }

  .u-section-10 .u-image-5 {
    margin-left: 47px;
  }

  .u-section-10 .u-image-6 {
    margin-right: 47px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1446px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 308px;
  }

  .u-section-10 .u-text-2 {
    margin-top: -309px;
  }

  .u-section-10 .u-text-3 {
    margin-top: 659px;
  }

  .u-section-10 .u-image-1 {
    width: 340px;
    height: 422px;
    margin-top: -598px;
    margin-left: 0;
  }

  .u-section-10 .u-image-2 {
    width: 340px;
    height: 422px;
    margin-top: -159px;
    margin-left: 0;
  }

  .u-section-10 .u-text-4 {
    margin-top: 65px;
  }

  .u-section-10 .u-image-3 {
    width: 340px;
    height: 278px;
    margin-top: -4px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-image-4 {
    width: 340px;
    height: 278px;
    margin-top: -278px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-5 {
    margin-left: 86px;
  }

  .u-section-10 .u-text-6 {
    margin-right: 88px;
  }

  .u-section-10 .u-text-7 {
    margin-top: 492px;
  }

  .u-section-10 .u-image-5 {
    width: 340px;
    height: 268px;
    margin-top: -431px;
    margin-left: 0;
  }

  .u-section-10 .u-image-6 {
    width: 340px;
    height: 268px;
    margin-top: -268px;
    margin-right: 0;
  }

  .u-section-10 .u-text-8 {
    margin-left: 94px;
  }

  .u-section-10 .u-text-9 {
    margin-right: 88px;
    margin-bottom: 0;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 442px;
}

.u-section-11 .u-layout-wrap-1 {
  background-image: none;
  width: 436px;
  margin: 164px auto 60px 0;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 164px;
  background-image: none;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  font-size: 3rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-top: 29px;
    padding-bottom: 29px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 868px;
}

.u-section-12 .u-text-1 {
  font-size: 2.25rem;
  margin: 60px 53px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-1 {
    margin-right: 0;
    margin-left: 194px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-text-1 {
    margin-left: 146px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-text-1 {
    margin-left: 92px;
  }
}